<ul>
  <li *ngFor="let imbu of this.imbuimentSelecionado?.itens; index as i">
    {{ imbu?.quantidade }}
    {{ imbu?.nomeItem }}

    <input [(ngModel)]="imbu.preco" placeholder="Digite o preço" />

    @if (i < quantosComToken()) {
      <p>Comprar com Gold Token</p>
    } @else {
      <p>Comprar pelo Market</p>
    }
  </li>

  @if (imbuimentSelecionado) {
    <p>Preços dos Itens no Market {{ calcularTotal() }}</p>
  }

  @if (imbuimentSelecionado) {
    <p>Preços dos Gold Tokens {{ calcularTotalGoldToken() }}</p>
  }

  @if (imbuimentSelecionado) {
    <p>Preço dos Itens com a Taxa {{ calcularTotalTaxa() }}</p>
  }

  @if (imbuimentSelecionado) {
    <p>Preço do Gold Token com a Taxa {{ calcularTotalTaxaGold() }}</p>
  }
  @if (imbuimentSelecionado) {
    <p>
      {{ qualMaisBarato().melhor }} é {{ qualMaisBarato().diferenca }} mais
      barato
    </p>
  }
</ul>
