<div class="container">
  <div class="items">
    <div
      class="item"
      *ngFor="let imbu of imbuimentSelecionado?.itens; index as i"
    >
      <div class="item-name">
        <strong>{{ imbu?.quantidade }}x</strong>

        <span>{{ imbu?.nomeItem }}</span>

        <lucide-icon
          name="copy"
          class="icon-copiar"
          (click)="copiarNome(imbu.nomeItem)"
        ></lucide-icon>
      </div>

      <input
        [(ngModel)]="imbu.preco"
        mask="separator.2"
        thousandSeparator=","
        decimalMarker="."
        placeholder="Preço no market"
      />

      @if (i < quantosComToken()) {
        <span class="status token">Gold Token</span>
      } @else {
        <span class="status market">Market</span>
      }
    </div>
  </div>

  <div class="resumo">
    <div class="resumo-market">
      <span>Market</span>
      <strong>{{ calcularTotal().toLocaleString("en-US") }}</strong>
    </div>

    <div class="resumo-token">
      <span>Gold Token</span>
      <strong>{{ calcularTotalGoldToken().toLocaleString("en-US") }}</strong>
    </div>

    <div class="resumo-market">
      <span>Market + Taxa</span>
      <strong>{{ calcularTotalTaxa().toLocaleString("en-US") }}</strong>
    </div>

    <div class="resumo-token">
      <span>Token + Taxa</span>
      <strong>{{ calcularTotalTaxaGold().toLocaleString("en-US") }}</strong>
    </div>

    <div
      class="melhor"
      [class.melhor-market]="marketMaisBarato()"
      [class.melhor-token]="goldTokenMaisBarato()"
    >
      <span>{{ qualMaisBarato().melhor }}</span>
      <strong
        >{{ qualMaisBarato().diferenca.toLocaleString("en-US") }} mais
        barato</strong
      >
    </div>
  </div>
</div>
